
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/
.dimage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dimage img{
  object-fit: cover; 
}
